.modify {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px);
  background-color: white;
  flex-direction: column;
}

.modify .join-con {
  background-color: white;
  padding: 20px 50px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 0.1px solid rgb(214, 214, 214);
  width: 650px;
}

.modify-header {
  text-align: center;
}

.modify-header h1 {
  width: 150px;
  margin-bottom: 20px;
}

.modify-header h1 img {
  width: 100%;
  display: block;
}

.join-choice {
  margin-bottom: 10px;
}

.modify-header .back-button {
  position: absolute;
  background-color: inherit;
  left: 70px;
  top: 100px;
  color: black;
  border: none;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.3s;
}

.modify-header .back-button:hover {
  color: #0cbb32;
}

.modify-header .transfer-button {
  position: absolute;
  background-color: inherit;
  right: 20px;
  top: 100px;
  color: black;
  border: none;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s;
}

.modify-header .transfer-button:hover {
  color: #0cbb32;
}

.join-conteiner {
  display: flex;
  flex-direction: column;
}

.join-conteiner > div:nth-child(1) {
  margin-bottom: 0;
}

.join-conteiner > div:nth-child(4) {
  margin-bottom: 0;
}

.join-conteiner > div {
  margin-bottom: 15px;
}

.join-conteiner label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.join-conteiner select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid rgb(214 214 214);
  border-radius: 8px;
}

.join-conteiner input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid rgb(214 214 214);
  border-radius: 8px;
}

.status {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.join-conteiner button {
  margin-top: 5px;
  padding: 8px 12px;
  box-sizing: border-box;
  background-color: #00b62a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.join-conteiner button:hover {
  background-color: #0f942c;
}

.status-message {
  margin-top: 5px;
  font-size: 14px;
  color: #dc3545;
}

.status-message.success {
  color: rgb(35, 35, 207);
}

.status-message.error {
  color: #dc3545;
}

.join-footer {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.join-footer:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.join-footer:disabled:hover {
  background-color: #ccc;
}

.join-footer.enabled {
  background-color: #28a745;
}
