.header {
  width: 100%;
  display: flex;
  justify-content: center;

  box-shadow: inset 0 -1px 3px #a7a7a7;
  padding: 10px 30px;
  box-sizing: border-box;
}

.header .header-con {
  flex: 0 1 1200px;
}

.header .header-con .gnb {
  height: 60px;

  display: flex;
  justify-content: space-between;
}

.header .header-con .gnb .logo {
  display: flex;
  gap: 10px;
}

.header .header-con .gnb .logo .role {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: medium;
  color: rgb(128 128 128);
}

.header .header-con .gnb h1.logo {
  width: 150px;
  height: 60px;
}

.header .header-con .gnb h1.logo img {
  width: 100%;
  height: 60px;
  display: block;
}

.header .header-con .gnb > ul {
  display: flex;
  gap: 20px;
}

.header .header-con .gnb > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #5a5a5a;

  cursor: pointer;
}

.header .header-con .gnb > ul > li:hover {
  color: #000;
}
.cart-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.cart-icon .cart-count {
  position: absolute;
  top: 7px; /* 아이콘과 겹치지 않도록 조정 */
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 4px 6px;
  min-width: 18px; /* 숫자가 한 자리여도 동그랗게 유지 */
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
