.admin-pay {
  flex: 1;
  height: calc(100vh - 80px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-pay .admin-pay-con {
  flex: 0 1 1400px;
  height: inherit;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 30px;

  /* border: 1px solid #f00; */

  padding: 20px 0;
  box-sizing: border-box;


  /* position: relative; */
}



/* 검색 창*/
.admin-pay .admin-pay-con .admin-pay-search {

  width: 100%;
  /* border: 1px solid #2be28d; */
  /* border-radius: 10px; */
  box-sizing: border-box;

  display: flex;
  justify-content: center;
}

.admin-pay .admin-pay-con .admin-pay-search form {
  flex: 0 1 1000px;

  display: flex;
  

  /* border: 5px solid #e22b2b; */
}

.admin-pay .admin-pay-con .admin-pay-search form select {
  flex: 1;
  
  border: 2px solid #2be28d;
}

.admin-pay .admin-pay-con .admin-pay-search form input {
  flex: 5;

  font-size: 30px;

  border: 0;
}

.admin-pay .admin-pay-con .admin-pay-search form input:focus {
  outline: none;
  box-shadow: none !important;
}

.admin-pay .admin-pay-con .admin-pay-search form button {

  flex: 1;

  border: 2px solid #2be28d;

  background-color: #fff;

  cursor: pointer;
}



/* 리스트 */

.admin-pay .admin-pay-con .admin-pay-list {
  width: 100%;
  height: 800px;
  /* border: 1px solid rgb(17, 0, 255); */

}

.admin-pay .admin-pay-con .admin-pay-list .admin-pay-head > ul {
  padding: 20px;
  box-shadow: inset -1px -1px 3px rgb(59, 59, 59);
  border-radius: 5px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
}

.admin-pay .admin-pay-con .admin-pay-list .admin-pay-head > ul > li {
  flex: 1;
}

.admin-pay .admin-pay-con .admin-pay-list .admin-pay-body .pay-pocket {
  padding-top: 15px;
  box-sizing: border-box;
}

.admin-pay .admin-pay-con .admin-pay-list .admin-pay-body .pay-pocket > ul {
  display: flex;
  justify-content: space-between;

  box-shadow: inset -1px -1px 3px rgb(59, 59, 59);
  border-radius: 10px;

  box-sizing: border-box;

  transition: all 0.4s;
  
  cursor: pointer;

  padding: 20px;
  box-sizing: border-box;

}

.admin-pay .admin-pay-con .admin-pay-list .admin-pay-body .pay-pocket > ul:hover {
  transform: translate(-7px, -7px); /* 이동 */
}

.admin-pay .admin-pay-con .admin-pay-list .admin-pay-body .pay-pocket > ul > li {
  flex: 1;

}